@mixin position-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin position-vt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin position-hr{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@mixin ellipsis($line:1){
    @if($line == 1){
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    @else{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
    }
}

/*반응형 화면 크기*/
$mobile: 767px; // 767 ~ [320]    최대 ~ 최소
$tablet: 1023px; // 1023 ~ [768]
$desktop: 1200px; //1200 ~ [1024] 프로젝트마다 다르다!! 요소가 공존이 안 되는, 너무 타이트한 부분이 생기면 한 번 잡아주는 것.

/*반응형, 브라우저 크기가 767px 이하일때*/
@mixin mobile{
  @media (max-width: $mobile){
    @content;
  }
}
/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/
@mixin tablet{
  @media (max-width: $tablet){
    @content;
  }
}
/*반응형, 브라우저 크기가 1024px 이상일때*/
@mixin desktop{
  @media (max-width: $desktop){
    @content;
  }
}





