*{
    margin: 0;
    padding: 0;
    font: inherit;
    clear: inherit;
}
body{
    line-height: 1;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    display: block;
}

// body μ„Έν…
body{
    color: #444;
    font-size: 18px;
    line-height: 1.3;
    font-family: $font-kr;
}